<div th:fragment="editComp">
    <!-- Button trigger modal -->
    <button type="button" class="position-absolute top-50 end-0 translate-middle btn btn-sm
    btn-dark rounded-pill" style="width: 2rem; height:2rem;" data-bs-toggle="modal" data-bs-target="#exampleModal">
        &#x270e
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="titleOrg" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleOrgModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label class="sr-only" for="title">Нова назва</label>
                                <input type="text" class="form-control mb-2" id="title"
                                       name="title" placeholder="Назва компанії">
                            </div>
                            <select class="form-select" aria-label="Сторона відносин" id="contrParty">
                                <option selected>Open this select menu</option>
                                <option value="Builder">Підрядник</option>
                                <option value="Customer">Замовник</option>
                                <option value="Other">Інше</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                            <button type="button" name="send" data-bs-dismiss="modal" onclick="editOrg()"
                                    class="btn btn-primary">Зберегти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




