<div id="addAddressFragment" th:fragment="addAddress">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-warning"
            data-bs-toggle="modal" data-bs-target="#addAddress">
        Додати адресу
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addAddress" tabindex="-1" aria-labelledby="addressModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  id="form" name="addAddressForm">
                        <div th:fragment="addAddressForm">
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <label class="sr-only" for="country">Страна</label>
                                    <input type="text" class="form-control mb-2" id="country"
                                           name="country" placeholder="Страна">
                                </div>
                                <select class="form-select" aria-label="Область" id="region">
                                    <option selected>Оберіть область</option>
                                    <option value="Харківська обл.">Харківська обл.</option>
                                    <option value="Полтавська обл.">Полтавська обл.</option>
                                    <option value="Київська обл.">Київська обл.</option>
                                    <option value="Сумська обл.">Сумська обл.</option>
                                    <option value="Одеська обл.">Одеська обл.</option>
                                </select>
                                <div class="col-auto">
                                    <label class="sr-only" for="district">Район</label>
                                    <input type="text" class="form-control mb-2" id="district"
                                           name="district" placeholder="Район">
                                </div>
                                <div class="col-auto">
                                    <label class="sr-only" for="locality">Населений пункт</label>
                                    <input type="text" class="form-control mb-2" id="locality"
                                           name="locality" placeholder="Населений пункт">
                                </div>
                                <div class="col-auto">
                                    <label class="sr-only" for="street">Вулиця</label>
                                    <input type="text" class="form-control mb-2" id="street"
                                           name="street" placeholder="Вулиця">
                                </div>
                                <div class="col-auto">
                                    <label class="sr-only" for="building">Дом</label>
                                    <input type="text" class="form-control mb-2" id="building"
                                           name="building" placeholder="Дом">
                                </div>
                            </div>
                        </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                                <button type="button" name="send" data-bs-dismiss="modal" onclick="addAddress()"
                                        class="btn btn-primary">Зберегти
                                </button>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




