<div th:fragment="addDocument">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#addDocument">
        Додати документ
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addDocument" tabindex="-1" aria-labelledby="addDocumentLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDocumentLabel">Новий документ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label class="sr-only" for="doctype">Тип документа</label>
                                <input type="text" class="form-control mb-2" id="doctype"
                                       name="doctype" placeholder="Тип документа">

                                <label class="sr-only" for="titleDoc">Назва документа</label>
                                <input type="text" class="form-control mb-2" id="titleDoc"
                                       name="titleDoc" placeholder="Назва документа">

                                <label class="sr-only" for="descriptionDoc">Пояснення</label>
                                <input type="text" class="form-control mb-2" id="descriptionDoc"
                                       name="descriptionDoc" placeholder="Пояснення">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                            <button type="button" name="send" data-bs-dismiss="modal" onclick="saveDocument()"
                                    class="btn btn-primary">Додати документ
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




