<div th:fragment="addFile">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
            data-bs-target="#addFile">
        Додати файл
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addFile" tabindex="-1" aria-labelledby="addFileLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFileLabel">Новий файл</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
<!--                                <label class="sr-only" for="doctype">Тип документа</label>-->
<!--                                <input type="text" class="form-control mb-2" id="doctype"-->
<!--                                       name="doctype" placeholder="Тип документа">-->
<!--                                <select class="form-select" aria-label="Тип документа" id="region">-->
<!--                                    <option selected value="Ліцензія">Ліцензія</option>-->
<!--                                    <option value="Дозвіл">Дозвіл</option>-->
<!--                                    <option value="Інше">Інше</option>-->
<!--                                </select>-->

                                <label class="sr-only" for="titleFile">Назва документа</label>
                                <input type="text" class="form-control mb-2" id="titleFile"
                                       name="titleFile" placeholder="Назва файла">

                                <label class="sr-only" for="fileType">Тип документа</label>
                                <input type="text" class="form-control mb-2" id="fileType"
                                       name="fileType" placeholder="Пояснення">

                                <input type="file" class="form-control mb-2" id="item"
                                       name="item" >


<!--                                <hr style="color: darkorange;" />-->
<!--                                <h5>Файли:</h5>-->
<!--                                <ul id="filesModal"></ul>-->
<!--                                <form id="uploadFile" action="">-->
<!--                                    <input type="text" class="form-control mb-2" id="fileTitle"-->
<!--                                           name="fileTitle" placeholder="Назва файлу">-->
<!--                                    <input type="text" class="form-control mb-2" id="fileType"-->
<!--                                           name="fileTipe" placeholder="Тип файлу">-->
<!--                                <input type="file" class="form-control mb-2" id="addFile"-->
<!--                                       name="addFile">-->
<!--                                <button class="btn btn-outline-warning" onclick="uploadFile()">Додати</button>-->
<!--                                </form>-->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                            <button type="button" name="send" data-bs-dismiss="modal" onclick="uploadFile()"
                                    class="btn btn-primary">Додати файл
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




