<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="UTF-8">
<title>MWS - Company</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <title>MWS - log-in</title>
</head>
<body style="background-color: #212121">
<div class="container-720">
    <div class="row">
        <div class="col-3">
        </div>

        <div class="col-6" style="padding: 0; color: darkorange">
            <div class="card  border-warning mb-3 text-center">
                <div class="card-header">
                    <div th:if="${param.error}">
                        Невірне ім'я чи пароль!
                    </div>
                    <div th:if="${param.logout}">
                        Ви вийшли із свого облікового запису.
                    </div>
                    <h3>Авторизація</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/login}" method="post">
                        <div><input class="border-warning mb-3" type="text" name="username" placeholder="Login"/></div>
                        <div><input class="border-warning mb-3" type="password" name="password" placeholder="Password"/></div>
                        <div>
                            <input class="btn btn-outline-warning" type="submit" value="Увійти"/>
                            <a class="btn btn-outline-warning" href="/registration">Зареєструватись</a>

                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div th:if="${param.error}">
                        Невірне ім'я чи пароль!
                    </div>
                    <div th:if="${param.logout}">
                        Ви вийшли із свого облікового запису.
                    </div>
                    <div th:text="${message}"></div>
                    <div th:text="${authorizationError}"></div>
                </div>
            </div>
        </div>

        <div class="col-3">
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>